@import "./bulma.min.css";
.hero-body {
  background: linear-gradient(90deg, #006cff 0%, #eb52ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: absolute;
  left: auto;
  top: 36%;
}

.range {
  position: absolute;
  left: auto;
  top: 49%;
  accent-color: #eb52ff;
}

.button:hover {
  background-color: rgb(235, 235, 235);
}

.button {
  position: absolute;
  left: auto;
  top: 53%;
}
